{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Toán 12</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Typography Area Start ##### -->
    <div class="vizew-typography-area mb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Typography Content -->
                    <div class="typography-content mb-50">
                        <div class="section-heading">
                            <h4>TÀI LIỆU THAM KHẢO</h4>
                        <div class="line"></div>
                        </div>
                            <h3 class="mb-20">Danh mục tài liệu miễn phí</h3>
                            <div class="">
                                <ol class="ordered-list">
                                    <li>Sách toán 10</li>
                                    <li>Sách toán 11</li>
                                    <li>Sách toán 12
                                        <ul>
                                            
                                            <li><a href="https://drive.google.com/file/d/1Xh6znjuJY-MFv_A1UR58OxrJmd3tp1aK/view?usp=sharing" target="_blank">Sách giáo khoa giải tích 12 (cơ bản)</a></li>
                                            <li><a href="https://drive.google.com/file/d/1JzQ3Q05DBkjAFVvb87BsYD8ZVBbBBIkK/view?usp=sharing" target="_blank">Sách bài tập giải tích 12(cơ bản)</a></li>
                                            <li>Sách giáo khoa hình học 12(cơ bản)</li>
                                            <li>Sách bài tập hình học 12(cơ bản)</li>
                                        </ul>
                                    </li>
                                    <li>Tổng hợp đề thi THPT Quốc gia các năm</li>
                                    <li>Tài liệu ôn thi THPT Quốc gia (Sưu tầm)</li>
                                </ol>
                            </div>
                        </div>

                    <!-- Typography Content -->
                    <div class="typography-content mb-50">
                        <!-- Title -->
                        <h4 class="mb-3">ĐĂNG KÝ ĐỂ NHẬN ĐƯỢC CÁC BÀI GIẢNG MỚI NHẤT</h4>

                        <!-- Contact Form Area -->
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" placeholder="Họ và tên">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" placeholder="Địa chỉ Email hoặc số điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Thông tin bổ sung"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn vizew-btn mt-30" type="submit">Đăng ký</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="sidebar-area">

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget followers-widget mb-50">

                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget latest-video-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">

                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-post-area mb-30">
                                <!-- Post Thumbnail -->

                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">

                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">

                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">

                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget add-widget mb-50">

                        </div>

                        <!-- ***** Sidebar Widget ***** -->
                        <div class="single-widget youtube-channel-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">

                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">

                                </div>
                                <div class="youtube-channel-content">

                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">
                                </div>
                                <div class="youtube-channel-content">

                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">

                                </div>
                                <div class="youtube-channel-content">

                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">

                                </div>
                                <div class="youtube-channel-content">

                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex align-items-center">
                                <div class="youtube-channel-thumbnail">

                                </div>
                                <div class="youtube-channel-content">

                                </div>
                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget newsletter-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">

                            </div>
                            <!-- Newsletter Form -->
                            <div class="newsletter-form">

                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">

                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">

                                <div class="post-content">
                                    <div class="post-meta d-flex justify-content-between">

                                    </div>
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                </div>
                                <div class="post-content">
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                </div>
                                <div class="post-content">
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">

                                </div>
                                <div class="post-content">
                                </div>
                            </div>

                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">

                                </div>
                                <div class="post-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Typography Area End ##### -->
{% endblock %}