{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"
                                    aria-hidden="true"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Toán 12</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Typography Area Start ##### -->
<div class="vizew-typography-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Typography Content -->
                <div class="typography-content mb-50">
                    <!-- Title -->
                    <div class="section-heading">
                        <h4>GIẢI TÍCH 12</h4>
                        <div class="line"></div>
                    </div>
                    <h6>CHƯƠNG I: ỨNG DỤNG CỦA ĐẠO HÀM ĐỂ KHẢO SÁT VÀ VẼ ĐỒ THỊ CỦA HÀM SỐ</h6>
                    <ul class="course-list">
                        <li class="justify-content-between d-flex">
                            <p>Bài 1: Sự đồng biến, nghịch biến của hàm số</p>
                            <a class="post-cata" href="{% url 'baigiang' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 2: Cực trị của hàm số</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 3: Giá trị lớn nhất, giá trị nhỏ nhất của hàm số</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 4: Đường tiệm cận</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 5: Khảo sát sự biến thiên và vẽ đồ thị của hàm số</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                    </ul>
                    <h6>CHƯƠNG II: HÀM SỐ LŨY THỪA, HÀM SỐ MŨ VÀ HÀM SỐ LÔGARIT</h6>
                    <ul class="course-list">
                        <li class="justify-content-between d-flex">
                            <p>Bài 1: Lũy thừa</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 2: Hàm số lũy thừa</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 3: Lôgarit</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 4: Hàm số mũ. Hàm số lôgarit</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 5: Phương trình mũ và phương trình lôgarit</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 6: Bất phương trình mũ và bất phương trình lôgarit</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                    </ul>
                    <h6>CHƯƠNG III: NGUYÊN HÀM - TÍCH PHÂN VÀ ỨNG DỤNG</h6>
                    <ul class="course-list">
                        <li class="justify-content-between d-flex">
                            <p>Bài 1: Nguyên hàm</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 2: Tích phân</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 3: Ứng dụng của tích phân trong hình học</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                    </ul>
                    <h6>CHƯƠNG IV: SỐ PHỨC</h6>
                    <ul class="course-list">
                        <li class="justify-content-between d-flex">
                            <p>Bài 1: Số phức</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 2: Cộng, trừ và nhân số phức</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 3: Phép chia số phức</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 4: Phương trình bậc hai với hệ số thực</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                    </ul>
                    <div class="section-heading">
                        <h4>HÌNH HỌC 12</h4>
                        <div class="line"></div>
                    </div>
                    <h6>CHƯƠNG I: KHỐI ĐA DIỆN</h6>
                    <ul class="course-list">
                        <li class="justify-content-between d-flex">
                            <p>Bài 1: Khái niệm về khối đa diện</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 2: Khối đa diện lồi và khối đa diện đều</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 3: Khái niệm về thể tích khối đa diện</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                    </ul>
                    <h6>CHƯƠNG II: MẶT NÓN, MẶT TRỤ, MẶT CẦU</h6>
                    <ul class="course-list">
                        <li class="justify-content-between d-flex">
                            <p>Bài 1: Khái niệm về mặt tròn xoay</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 2: Mặt cầu</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                    </ul>
                    <h6>CHƯƠNG III: PHƯƠNG PHÁP TỌA ĐỘ TRONG KHÔNG GIAN</h6>
                    <ul class="course-list">
                        <li class="justify-content-between d-flex">
                            <p>Bài 1: Hệ tọa độ trong không gian</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 2: Phương trình mặt phẳng</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                        <li class="justify-content-between d-flex">
                            <p>Bài 3: Phương trình đường thẳng trong không gian</p>
                            <a class="post-cata" href="{% url 'empty' %}">Vào học</a>
                        </li>
                    </ul>
                </div>

                <!-- Typography Content -->
                <div class="typography-content mb-50">
                    <!-- Title -->
                    <h4 class="mb-3">ĐĂNG KÝ ĐỂ NHẬN ĐƯỢC CÁC BÀI GIẢNG MỚI NHẤT</h4>

                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email"
                                            placeholder="Địa chỉ Email hoặc số điện thoại">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                            placeholder="Thông tin bổ sung"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn vizew-btn mt-30" type="submit">Đăng ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ##### Typography Area End ##### -->
            {% endblock %}