{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"
                                    aria-hidden="true"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'toan12' %}">Toán 12</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Bài 1: Sự đồng biến, nghịch biến của hàm
                            số</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Pager Area Start ##### -->
<div class="vizew-pager-area">
    <div class="vizew-pager-prev">
        <p>BÀI GIẢNG TRƯỚC</p>

        <!-- Single Feature Post -->
        <div class="single-feature-post video-post bg-img pager-article"
            style="background-image: url(img/bg-img/15.jpg);">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                <a href="single-post.html" class="post-title">Searching for the 'angel' who held me on Westminster
                    Bridge</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 18</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 32</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 24</a>
                </div>
            </div>
            <!-- Video Duration -->
            <span class="video-duration">11.13</span>
        </div>
    </div>

    <div class="vizew-pager-next">
        <p>BÀI GIẢNG TIẾP THEO</p>

        <!-- Single Feature Post -->
        <div class="single-feature-post video-post bg-img pager-article"
            style="background-image: url(img/bg-img/14.jpg);">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-cata cata-sm cata-business">Business</a>
                <a href="single-post.html" class="post-title">Reunification of migrant toddlers, parents should be
                    completed Thursday</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 25</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                </div>
            </div>
            <!-- Video Duration -->
            <span class="video-duration">06.59</span>
        </div>
    </div>
</div>
<!-- ##### Pager Area End ##### -->

<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-video-area">
                    <iframe src="https://www.youtube.com/embed/1nI-GMmHMHs"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8">
                <div class="post-details-content d-flex">
                    <!-- Post Share Info -->
                    <div class="post-share-info">
                        <p>Share</p>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="thumb-tack"><i class="fa fa-thumb-tack"></i></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="#" class="post-cata cata-sm cata-danger">Ôn thi THPT</a>
                            <a href="single-post.html" class="post-title mb-2">Đề thi chính thức THPT Quốc Gia 2022 - Mã
                                đề 101</a>
                                {% for item in thongtin %}
                                    {{ item.title }}
                                {% endfor %}
                                

                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-author">Đăng bởi Phan Đình Phước</a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date">Tháng 8 năm 2022</a>
                                </div>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                </div>
                            </div>
                        </div>


                        <!-- Post Tags -->
                        <div class="post-tags mt-30">
                            <ul>
                                <li><a href="#">Toán 12</a></li>
                                <li><a href="#">Tài liệu</a></li>
                                <li><a href="#">Thủ thuật Casio</a></li>
                            </ul>
                        </div>

                        <!-- Related Post Area -->
                        <div class="related-post-area mt-5">
                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Chủ đề tương tự</h4>
                                <div class="line"></div>
                            </div>

                            <div class="row">

                                <!-- Single Blog Post -->
                                <div class="col-12 col-md-6">
                                    <div class="single-post-area mb-50">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="img/bg-img/11.jpg" alt="">

                                            <!-- Video Duration -->
                                            <span class="video-duration">05.03</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="#" class="post-cata cata-sm cata-success">Thủ thuật Casio</a>
                                            <a href="single-post.html" class="post-title">Tổng hợp thủ thuật casio trong
                                                giải toán trắc nghiệm</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Blog Post -->
                                <div class="col-12 col-md-6">
                                    <div class="single-post-area mb-50">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="img/bg-img/12.jpg" alt="">

                                            <!-- Video Duration -->
                                            <span class="video-duration">05.03</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="#" class="post-cata cata-sm cata-danger">Tài liệu</a>
                                            <a href="single-post.html" class="post-title">Kho sách và tài liệu tham khảo
                                                hoàn toàn miễn phí</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 28</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 17</a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Bình luận</h4>
                                <div class="line"></div>
                            </div>
                        </div>

                        <!-- Post A Comment Area -->
                        <div class="post-a-comment-area">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Hãy để lại bình luận</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="name" placeholder="Họ và tên*">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="email" class="form-control" id="email"
                                                placeholder="Địa chỉ Email*">
                                        </div>
                                        <div class="col-12">
                                            <textarea name="message" class="form-control" id="message"
                                                placeholder="Nội dung góp ý*"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn vizew-btn mt-30" type="submit">Đăng bình luận</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget followers-widget mb-50">
                        <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span
                                class="counter">198</span><span>Fan</span></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span
                                class="counter">220</span><span>Followers</span></a>
                        <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span
                                class="counter">140</span><span>Subscribe</span></a>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget latest-video-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">

                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-post-area mb-30">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">

                            </div>

                            <!-- Post Content -->
                            <div class="post-content">

                                <div class="post-meta d-flex">

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget add-widget mb-50">

                    </div>

                    <!-- ***** Sidebar Widget ***** -->
                    <div class="single-widget youtube-channel-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">

                            <div class="line"></div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex align-items-center">
                            <div class="youtube-channel-thumbnail">

                            </div>
                            <div class="youtube-channel-content">

                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex align-items-center">
                            <div class="youtube-channel-thumbnail">

                            </div>
                            <div class="youtube-channel-content">

                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex align-items-center">
                            <div class="youtube-channel-thumbnail">

                            </div>
                            <div class="youtube-channel-content">

                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex align-items-center">
                            <div class="youtube-channel-thumbnail">

                            </div>
                            <div class="youtube-channel-content">

                            </div>
                        </div>

                        <!-- Single YouTube Channel -->
                        <div class="single-youtube-channel d-flex align-items-center">
                            <div class="youtube-channel-thumbnail">

                            </div>
                            <div class="youtube-channel-content">

                            </div>
                        </div>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget newsletter-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">

                            <div class="line"></div>
                        </div>

                        <!-- Newsletter Form -->
                        <div class="newsletter-form">

                        </div>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">

                            <div class="line"></div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">

                            </div>
                            <div class="post-content">

                                <div class="post-meta d-flex justify-content-between">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->
{% endblock %}